<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Student</title>
  </head>

  <body>
    <br />
    <br />
    <% if(teachers) { %>
      <table style="border: 1px solid black; width: 80%;text-align: center;">
        <tr>
          <th style="border: 1px solid black;">Name</th>
          <th style="border: 1px solid black;">Title</th>
          <th style="border: 1px solid black;">Dept</th>
        </tr>
        <% for (let teacher of teachers) { %>
          <tr>
            <td style="border: 1px solid black;"><%= teacher.name %></td>
            <td style="border: 1px solid black;"><%= teacher.title %></td>
            <td style="border: 1px solid black;"><%= teacher.dept %></td>
          </tr>      
        <% } %>
      </table>
    <% } else { %>
      No such teachers  
    <% } %>
  </body>
</html>
