<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Student</title>
  </head>

  <body>
    <br />
    <br />
    <form action="/add-teacher" method="POST">
      <label for="name">Teacher name:</label>
      <input type="text" id="name" name="name" /><br /><br />
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" /><br /><br />
      <label for="dept">Department:</label>
      <input type="text" id="dept" name="dept" /><br /><br />
      <button type="submit"> Submit </button>
    </form>

    <br />
    <br />

    <a href="/get-teachers" style="margin-right: 40px;">
      <button>View select Teachers</button>
    </a>


  </body>
</html>
