<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registrations</title>
  </head>

  <body>
    <a style="margin-right: 2rem" href="/">Home</a>
    <a style="margin-right: 2rem" href="/contacts">Contacts</a>
    <a style="margin-right: 2rem" href="/announcements">Announcements</a>
    <a style="margin-right: 2rem" href="/registrations">Registrations</a>
    <h1>Registrations Page</h1>
  </body>
</html>
